<% if translation.locale != I18n.locale %>
  <div class="tab-pane" id="<%= translation_tab_id(resource, translation.locale) %>">
    <h5><%= translation.name %></h5>
    <% if translation.has_attribute? :description %>
      <p><%= translation.description %></p>
    <% end %>
  </div>
<% end %>


