<div class="hero-unit">
  <h1>Hello!</h1>
  <p><%= t('Welcome to Take a Hike!') %>.</p>
  <p>
    <%= t('Watch this movie to learn how it works:') %>
  </p>
  <p class="centered">

    <iframe src="//player.vimeo.com/video/73848324" width="800" height="451" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
</div>