@import "bootstrap";
@import "bootstrap-responsive";
@import "devices";
@import "routes";
@import "navbar";
@import "gmaps4rails";
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}
.map_container img{max-width: none;}