// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-translation {
  margin: 2px;

}

.nav .dropdown-toggle {

  .caret {
    border-top-color: white;

  }
  &:hover .caret, &:focus .caret, {
    border-top-color: white;
  }
}

.nav-tabs > li .close {
  margin: -2px 0 0 10px;
  font-size: 18px;
}

.location-map {
  float: left;
  width: auto;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  opacity: 0.50;
}

.form-horizontal input {
  &.search-map {
    width: 390px;
    margin: 5px;
    margin-bottom: 5px;
  }
}