// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Custom container */
.rewards-container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.rewards-container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.rewards-jumbotron {
  margin: 60px 0;
  text-align: center;
}
.rewards-jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.rewards-jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.rewards-marketing {
  margin: 60px 0;
}
.rewards-marketing p + h4 {
  margin-top: 28px;
}

p.centered
{
  text-align: center;
}