// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.waypoint-list {
  list-style-type: none;
  margin: 0;
  padding: 5px 0 2.5em;
  float: left;
  margin-right: 10px;
  min-width: 200px;
  min-height: 300px;
  border: 1px solid #cecece;
  &.ui-sortable-disabled {
    opacity: .5;
  }
}

.waypoint-list li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 200px;

  border: 1px solid #cecece;

}

a.btn.pull-right {
  margin-left: 10px;
}

.navbar .nav > li > a {

  &.publish {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    &:hover{
      color: white;
      background-color: #f89406;
      *background-color: #df8505;
    }

  }
}

.waypoint-info {
  height:22px;
  width: 22px;
  vertical-align: middle;
  cursor: pointer;
}
.popover-content {
  font-size: $fontSizeSmall;
  font-weight: normal;
}

.original-image {
  float: left;
}
.preview-image {
  float: right;
  img {
    max-width: none;
  }
}
