// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-container {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.landing-container:before, .landing-container:after {
  display: table;
  content: "";
  line-height: 0;
}

.landing-container:after {
  clear: both;
}


table.landing
{
  border: 0px;
  padding: 0;
  background-color: white;
  border-spacing: 0px;
}
td.landing-top
{
  background-image: url(launch-placeholder_01.png);
  width: 800px;
  height: 297px;
  padding: 0;
  border-spacing: 0px;

}
td.landing-right
{
  text-align: right;
  border-spacing: 0px;
  background-image: url(launch-placeholder_03.png);
  width: 391px;
  height: 149px;
  padding: 0;
  border-spacing: 0px;

}
td.landing-bottom
{
  background-image: url(launch-placeholder_04.png);
  width: 800px;
  height: 154px;
  padding: 0;
  border-spacing: 0px;

}

td.landing-left
{
  padding: 0;
  border-spacing: 0px;
  text-align: center;
}
